* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {

    /*background: #9e5328;*/
}
.grid::after {
    content: "";
    clear: both;
    display: block;
}

.grid {
    margin-top: 20px;
}

.noidung div::after {
    content: "";
    clear: both;
    display: block;
}

.pageList div::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 10px;
    background:white;
}

html {
    font-family: Arial;
}

@font-face {
    font-family: 'zocial', sans-serif;
}

.header {
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -10px;
    padding-top: 15px;
    color: white;
    background: #9e5328;
    margin-bottom: 0px;
}

    .header h1 {
        padding: 20px 0px 30px 15px;

    }
/*==========================================================Style cho menu===*/
#menu ul {
    background: white;
    color: #9e5328;
    list-style-type: none;
    text-align: center;

}
#menu{
    margin-top:-20px;
    float:left;
    display:block;
    text-align:center;
    width:100%;
}
#menu li {
    color: #9e5328;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
    position: relative; /*vị trí menu mẹ*/
}

#menu a {
    text-decoration: none;
    color: #9e5328;
    display: block;
}

    #menu a:hover {
        background: #F1F1F1;
        color: #333;
    }

.smenu {
    display: none; /*Ẩn smenu*/
    position: absolute; /*vị trí smenu*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px black;
}

    .smenu a {
        font-size: 80%;
    }

#menu li:hover .smenu {
    display: block; /*hiện smenu*/
}

img {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px black;
}
.ban {

}
.footer {
    background-color: #9e5328;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin-top: 10px;
}
/*Chế độ xem mặc định*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 1100px) {
    .tin a, .tin p {
        font-size: 16px;
    }

    .bai {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        width:100%;
    }
}
/*Chế độ điện thoại*/
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    #menu {
        display: block;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

        #menu li {
            float: none;
            align-content: center;
            width: 100%;
            position: relative; /*vị trí menu mẹ*/
        }

    .smenu {
        display: none; /*Ẩn smenu*/
        position: absolute; /*vị trí smenu*/
        width: 100%;
        background: #999;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px black;
    }

        .smenu li {
            background: #f49118;
        }

    #menu li:hover .smenu {
        display: block; /*hiện smenu*/
        z-index: 3;
    }

    .bai {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .chitiet img {
        display: inline-block;
        width: 100%;
    }
    .btnDangnhap {
        text-align:right;
    }

}

@keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}

@-webkit-keyframes my {
    0% {
        color: #F8CD0A;
    }

    50% {
        color: #fff;
    }

    100% {
        color: #F8CD0A;
    }
}


.tinchinh {
    margin-bottom: 30px;
    padding: 10px 5px 10px 5px;
}

    .sTieude {
        font-weight: bold;
        font-size: 25px;
        color: black;
        text-decoration: none
    }
    .tinchinh i {
        width: 100%; /*chiều rộng bằng khối bao nó */
        white-space: pre-wrap;
        overflow: hidden; /*ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài */
        text-overflow: ellipsis; /*thêm 3 dấu chấm ở cuối */
        -webkit-line-clamp: 3; /*số dòng muốn hiển thị */
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 90%;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        
    }
.tinchinh p {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
#btnTimkiem {
    background: url('/img/btnTimkiem.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.thanhtimkiem {
    text-align: center;
    background: #9e5328;
    margin-top: -10px;
}
.btnDangnhap {
    background: #9e5328;
    margin-top: -10px;
}
    .btnDangnhap a {
        text-decoration: none;
        color: white;
        display: inline;
        font-size:105%;
        width:90%;
    }
/*-----------------------------------login-----------------------------*/
/***Form Dang Nhap/ Dang Ky***/
.formDangNhap {
    width: 450px;
    margin: 0px auto;
    padding-bottom: 100px;
    padding-top: 80px;
}

.head {
    background-color: cornflowerblue;
    padding: 15px 15px;
    color: white;
    text-align: center;
}

.bangregister {
    border: 1px solid #ccc;
    padding: 20px;
    border-top: none;
}

    .bangregister label {
        color: red;
        margin: auto;
    }

.row {
    overflow: hidden;
    padding-bottom: 10px;
}

.left {
    float: left;
    width: 150px;
}

.right {
    float: left;
    width: calc(100% - 150px);
}

    .right input[type = "text"], .right input[type = "password"], .right input[type = "email"] {
        width: 88%;
        border: solid 1px #ebebeb;
        padding: 5px;
    }

    .right input[type = "submit"] {
        border: 0;
        background-color: cornflowerblue;
        margin-top: 5px;
        padding: 5px 15px;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }

        .right input[type = "submit"]:hover {
            background-color: #87ceeb;
        }

.formDangNhap p {
    color: red;
    text-align: center;
}

#hidden {
    display: none;
}

#loidn {
    display: block;
}

#thongbaoasp {
    display: block;
}

.btn, #bt {
    border: 0;
    background-color: cornflowerblue;
    margin-top: 5px;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    display: block;
}

#hoten {
    text-transform: capitalize;
}
.uName {
    display:none;
}

/*-----------------------------------Bình luận--------------------------------------*/
.binhluan{

}
.BLleft {
    float:left;
    width:20px;
    margin-right:5px;
}
.BLright {
    float: left;
    /*background-color: lightskyblue;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width:50%;*/
    width: 95%;
    background-color: lightskyblue;
    margin: 2px;

}
.binhluan img, .nguoibinhluan img {
    width: 100%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.txtCmt {
    width:90%;
}

.btnLogout {
    background: #9e5328;
    border: none;
    color: white;
    
}


/*---------------------------------banner index------------------*/
.tinkhacindex {
    margin-top: 40px;
}

    .tinkhacindex a {
        margin: 5px auto;
        text-decoration: none;
        font-weight: bold;
        width: 100%; /*chiều rộng bằng khối bao nó */
        white-space: pre-wrap;
        overflow: hidden; /*ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài */
        text-overflow: ellipsis; /*thêm 3 dấu chấm ở cuối */
        -webkit-line-clamp: 1; /*số dòng muốn hiển thị */
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 16px;
        margin: 20px auto;
        color: black;
        min-height: 20px;
    }

.cart{
    margin:auto;
    text-align:center;
}
.nhay {
    background: #3d3d3d;
    font-size: 18px;
    font-weight: bold;
    -webkit-animation: my 700ms infinite;
    animation: my 700ms infinite;
    text-align: center;
}
.detailTinkhac{
    text-align:center;
    margin-bottom:10px;
    margin-top:20px;
}
    .detailTinkhac a {
        margin: 0px auto;
        text-decoration: none;
        font-weight: bold;
        width: 90%; /*chiều rộng bằng khối bao nó */
        white-space: pre-wrap;
        overflow: hidden; /*ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài */
        text-overflow: ellipsis; /*thêm 3 dấu chấm ở cuối */
        -webkit-line-clamp: 1; /*số dòng muốn hiển thị */
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 16px;
        color: black;
        min-height: 20px;
    }
    .detailTinkhac img{
        width:80%;
    }
.detailTinchinh{
    text-align:justify;
    padding: 20px;
}
    .detailTinchinh img {
        margin: 10px;
        text-align: center;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .detailTinchinh h1{
        text-align:justify;
        margin-bottom:10px;
    }
    .detailTinchinh i{
        text-align:right;
        margin-bottom:20px;
    }
    .detailTinchinh p {
        font-size: 16px;
    }



#menuHide{
    display:none;
}